<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Composition" version="8.0.0" manuallyInstalled="true" />
  <package id="System.Composition.AttributedModel" version="8.0.0" />
  <package id="System.Composition.Convention" version="8.0.0" />
  <package id="System.Composition.Hosting" version="8.0.0" />
  <package id="System.Composition.Runtime" version="8.0.0" />
  <package id="System.Composition.TypedParts" version="8.0.0" />
</packages>