<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentResults" version="3.16.0" manuallyInstalled="true" />
  <package id="Google.Protobuf" version="3.27.2" manuallyInstalled="true" />
  <package id="Grpc.Core.Api" version="2.63.0" />
  <package id="Grpc.Net.Client" version="2.63.0" manuallyInstalled="true" />
  <package id="Grpc.Net.Common" version="2.63.0" />
  <package id="Grpc.Tools" version="2.64.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="System.Composition" version="8.0.0" manuallyInstalled="true" />
  <package id="System.Composition.AttributedModel" version="8.0.0" />
  <package id="System.Composition.Convention" version="8.0.0" />
  <package id="System.Composition.Hosting" version="8.0.0" />
  <package id="System.Composition.Runtime" version="8.0.0" />
  <package id="System.Composition.TypedParts" version="8.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>